[submodule "caravel-lite"]
	path = caravel
	url = https://github.com/efabless/caravel-lite
[submodule "verilog/rtl/wishbone-buttons-leds"]
	path = verilog/rtl/wishbone-buttons-leds
	url = https://github.com/mattvenn/wishbone-buttons-leds
